<% include ../partials/header %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <br>
  <br>
    <div class="row">
      <div class="col-xs-4 col-md-3">

        <div class="row" id="left-search">
          <button id = "startbutton" class="btn btn-primaryr">
            <h5> click here </h5>
            <div id="tweet-count">
              <div id="counter">
                <h4>#mubb tweet tracker</h4>
              </div>
            </div>
          </button>
  <br>
  <br>
        <div class="row" id="left-scroll">
          <div class="col-xs-10">
            <div id="tweetd"></div>

          </div>
        </div>
      </div>
    </div>

  <div class="col-xs-6 col-md-9">

  <a data-remote="https://www.youtube.com/watch?v=2NXHrc080-E" data-toggle="lightbox" data-type="youtube">PRAY</a>


    <div id="map"></div>
  </div>
</div>

  </body>

 <script type="text/javascript" charset="utf-8">

  globeTweet.renderMap();

  $("#startbutton").on("click", function () {

    globeTweet.startStream();
  })

</script>

<script>
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
}); </script>

</html>